
<div class="page">

	<div class="item content" data-container="content_section4">
		
		<div class="container">
		    		
			<div class="row">
			
				<div class="col-md-4">
				   
				   	<div class="col editContent" data-selector=".editContent">
				   	    			
						<h3>Column One</h3>
						
						<p>
							Ut non lobortis est. Ut dictum scelerisque luctus. Aliquam condimentum interdum odio, et fermentum nulla pharetra in.
						</p>
					
					</div><!-- /.col -->
						    					    				
				</div><!-- /.col-md-4 col -->
				
				<div class="col-md-4 editContent" data-selector=".editContent">
				    
				    <div class="col">
				    			    					
						<h3>Column Two</h3>
						
						<p>
							Ut non lobortis est. Ut dictum scelerisque luctus. Aliquam condimentum interdum odio, et fermentum nulla pharetra in.
						</p>
						
					</div><!-- /.col -->
						    					    				
				</div><!-- /.col-md-4 col -->
				
				<div class="col-md-4 editContent" data-selector=".editContent">
				   	
				   	<div class="col dnd-drop-target">
						
					</div><!-- /.col -->	
					    					    				
				</div><!-- /.col-md-4 col -->
			
			</div><!-- /.row -->
		
		</div><!-- /.container -->
	
	</div><!-- /.item -->

</div><!-- /#page -->
