
<div class="page">

  <div class="item content padding-top-0 padding-bottom-0" data-container="container_section1">
    
    <div class="container">
            
      <div class="row margin-bottom-60">
      
        <div class="col-md-12">
          
          <div>
          <h2 class="editContent" data-selector=".editContent">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>
          
          <p class="lead editContent" data-selector=".editContent">
            Suspendisse potenti. Proin hendrerit ornare dictum. Quisque nunc arcu, lacinia et elit et, adipiscing malesuada felis. Nullam quam augue, euismod vitae turpis sed.
          </p>
          </div><!-- /.editContent -->
        
        </div>
      
        </div><!-- /.row -->
    
    </div><!-- /.container -->
  
  </div><!-- /.item -->

</div><!-- /#page -->
