
<div id="page" class="page">

	<div class="item content" id="content_section1">
		
		<div class="container">
		    		
			<div class="row">
			
				<div class="col-md-4">
				   
				   	<div class="col editContent">
				   	    			
						<h3>Column One</h3>
						
						<p>
							Ut non lobortis est. Ut dictum scelerisque luctus. Aliquam condimentum interdum odio, et fermentum nulla pharetra in.
						</p>
					
					</div><!-- /.col -->
						    					    				
				</div><!-- /.col-md-4 col -->
				
				<div class="col-md-4 editContent">
				    
				    <div class="col">
				    			    					
						<h3>Column Two</h3>
						
						<p>
							Ut non lobortis est. Ut dictum scelerisque luctus. Aliquam condimentum interdum odio, et fermentum nulla pharetra in.
						</p>
						
					</div><!-- /.col -->
						    					    				
				</div><!-- /.col-md-4 col -->
				
				<div class="col-md-4 editContent">
				   	
				   	<div class="col">
				   				    					
						<h3>Column Three</h3>
						
						<p>
							Ut non lobortis est. Ut dictum scelerisque luctus. Aliquam condimentum interdum odio, et fermentum nulla pharetra in.
						</p>
						
					</div><!-- /.col -->	
					    					    				
				</div><!-- /.col-md-4 col -->
			
			</div><!-- /.row -->
		
		</div><!-- /.container -->
	
	</div><!-- /.item -->

</div><!-- /#page -->
