
<div class="page">
   <div class="footerWrapper" data-container="footer3">
      <div class="item footer dark">
         <div class="container">
            <div class="row">
               <div class="col-md-6 col-md-offset-3 text-center social">
                  <div class="editContent" data-selector=".editContent" style="outline: none; cursor: inherit;">
                     <h2 data-selector="h1, h2, h3, h4, h5, p" style="outline: none; cursor: inherit;">We are HTML Builder!</h2>
                     <span>We're social, come meet and meet us:</span><br>      
                  </div>
                  <a href="#" class="fa fa-facebook-square" data-selector=".social a" style="outline: none; cursor: inherit;"></a>     
                  <a href="#" class="fa fa-twitter-square" data-selector=".social a" style="outline: none; cursor: inherit;"></a>      
                  <a href="#" class="fa fa-linkedin-square" data-selector=".social a" style="outline: none; cursor: inherit;"></a>    
                  <a href="#" class="fa fa-github-square" data-selector=".social a" style="outline: none; cursor: inherit;"></a>       
                  <a href="#" class="fa fa-google-plus-square" data-selector=".social a" style="outline: none; cursor: inherit;"></a>     
                  <a href="#" class="fa fa-pinterest-square" data-selector=".social a" style="outline: none; cursor: inherit;"></a>    
                  <a href="#" class="fa fa-reddit-square" data-selector=".social a" style="outline: none; cursor: inherit;"></a>   
               </div>
               <!-- /.col --> 
            </div>
            <!-- /.row -->      
         </div>
      </div>
      <!-- /.item -->    
   </div>
   <!-- /.footerWrapper -->        
</div>
