<div class="page">

   <div class="item content padding-top-0 padding-bottom-0"  data-container="one_column_widget">
      
      <div class="container">
               
        <div class="row margin-bottom-60">
      
         <div class="col-md-4">
            
            <div class="col dnd-drop-target">
            </div><!-- /.col --> 
         
         </div>

         <div class="col-md-4">
            
            <div class="col dnd-drop-target">
            </div><!-- /.col --> 
         
         </div>

         <div class="col-md-4">
            
            <div class="col dnd-drop-target">
            </div><!-- /.col --> 
         
         </div>
      
        </div><!-- /.row -->
      
      </div><!-- /.container -->
   
   </div><!-- /.item -->

</div><!-- /#page -->
