<%= stylesheet_link_tag 'knitkit/header' %>

<nav class="navbar navbar-inverse" role="navigation">
  <div class="navbar-header pull-left">
    <a class="navbar-brand" href="/home"><img src="/assets/knitkit/logo.png" alt="Logo"/></a>
  </div>
  
  <div class="navbar-header pull-right">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
  
  <div class="search-widget" data-widget-statement="render_widget :search,
                                                    :action => :index,
                                                    :params => {:redirect_results => true, :results_permalink => '/search-results'}">  

    <%= render_widget :search,
    :action => :index,
    :params => {:redirect_results => true, :results_permalink => '/search-results'} %>

  </div>  
  
  <div class="login-widget" data-widget-statement="render_widget :login,
                                                   :action => :login_header,
                                                   :params => {:login_url => '/login', :signup_url => '/sign-up'}">

    <%= render_widget :login,
    :action => :login_header,
    :params => {:login_url => '/login', :signup_url => '/sign-up'} %>   

  </div>  
  
  <div class="container-fluid">
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <%= content_for?(:menu) ? yield(:menu) : render_menu(@contents) %>
      </ul>
    </div>
  </div>
  
</nav>

