<div class="alert alert-danger">
  <% if !@user.errors.empty? %>
    <h4>Please address the following issues</h4>
    <hr>
    <ul>
      <% @user.errors.each do |attribute, error| %>
        <li class="error_text"><%= attribute.to_s.capitalize %> : <%= raw error %> </li>
      <% end %>
    </ul>
  <% else %>
    <p><%= @message %></p>
  <% end %>
</div>
<br/>
<%= render "/signup_form" %>
<script type="text/javascript">
  window.scrollTo(0, 0);
</script>