<div class="alert alert-success">
  <h2>Success</h2>
</div>
<p>Thank you for registering! An email confirmation has been sent to <%= @email %>. Please click the link to complete sign-up.</p>
<script type="text/javascript">
  window.scrollTo(0, 0);
</script>