
<div class="page">

  <div class="item content padding-top-0 padding-bottom-0" data-container="content_section1">
    
     <h2 class="editContent" data-selector=".editContent">Lorem ipsum...</h2>
     
     <p class="lead editContent" data-selector=".editContent">
       Lorem ipsum...
     </p>
  
  </div><!-- /.item -->

</div><!-- /#page -->
