
<div class="page">

  <div class="item content padding-top-0 padding-bottom-0" data-container="content_section2">
    
    <p class="lead editContent" data-selector=".editContent">
      Lorem ipsum...
    </p>
        
  </div>

</div><!-- /#page -->
